<p id="notice"><%= notice %></p>

<p>
  <b>Text správy</b>
  <%= @message.message %>
</p>

<p>
  <b>URL</b>
  <%= @message.url %>
</p>


<%= link_to 'Upraviť', edit_message_path(@message) %> |
<%= link_to 'Späť', messages_path %>
