<p id="notice"><%= notice %></p>

<p>
  <b>Message text:</b>
  <%= @message.message %>
</p>

<p>
  <b>Message url:</b>
  <%= @message.url %>
</p>


<%= link_to 'Upraviť', edit_message_path(@message) %> |
<%= link_to 'Späť', messages_path %>
