<% @events.each do |event| %>
	<div style="clear: both;">&nbsp;</div>
	<div class="entry">
    	<h2 class="title"><%= link_to event.title, event %></h2>
		<p class="meta"><span class="date"><%= event.event_date %></span></p>
		<p><%= event.message.split[0...30].join(' ') %> ...</p>
		<%= link_to 'Upravi콘', edit_event_path(event) %>&nbsp;|&nbsp;
		<%= link_to 'Zmaza콘', event, :confirm => 'Ozaj chcete vymaza콘 akciu?', :method => :delete %>
	</div>
<% end %>

<br />

<%= link_to 'Nov치 akcia', new_event_path %>
