<% @surveys.each do |survey| %>
	<div style="clear: both;">&nbsp;</div>
	<div class="entry">
    	<h2 class="title"><%= survey.name %></h2>
		<p>
		  <% for question in survey.questions %>
 		  <p><%= h question.content %></p>
		  <ul>  
		    <% for answer in question.answers %>
		      <li><%= h answer.content %></li>
		    <% end %>  
		  </ul>  
		  <% end %>
		</p>
	    <td><%= link_to 'Zobraziť', survey %></td>&nbsp;|&nbsp;
	    <td><%= link_to 'Upraviť', edit_survey_path(survey) %></td>&nbsp;|&nbsp;
	    <td><%= link_to 'Vymazať', survey, :confirm => 'Sta si istý, že chcete vymazať anketu?', :method => :delete %></td>
	</div>
<% end %>

<br />

<%= link_to 'Nová anketa', new_survey_path %>
