<div class="entry">
  <h3><%= link_to 'Nová anketa', new_survey_path %></h3>
</div>

<br />

<% @surveys.each do |survey| %>
	<div style="clear: both;">&nbsp;</div>
	<div class="entry">
    	<h2 class="title"><%= survey.name %></h2>
		<p>
		  <% for question in survey.questions %>
 		  <p><%= h question.content %></p>
		  <ul>  
		    <% for answer in question.answers %>
		      <li><%= h answer.content %> (<%= answer.points %> hlasov)</li>
		    <% end %>  
		  </ul>
		  <% end %>
		</p>
	    <%= link_to 'Zobraziť', survey %>&nbsp;|&nbsp;
	    <%= link_to 'Upraviť', edit_survey_path(survey) %>&nbsp;|&nbsp;
	    <%= link_to 'Vymazať', survey, :confirm => 'Sta si istý, že chcete vymazať anketu?', :method => :delete %>
	</div>
<% end %>