<div style="clear: both;">&nbsp;</div>
<div class="entry">
	<h2 class="title"><%= @survey.name %></h2>
	<p>
	  <% for question in @survey.questions %>
	  <p><%= h question.content %></p>
	  <ul>  
	    <% for answer in question.answers %>
	      <li><%= h answer.content %> (<%= answer.points %> hlasov)</li>
	    <% end %>  
	  </ul>  
	  <% end %>
	</p>
    <%= link_to "Zobraziť všetky", surveys_path %>
</div>