<script type="text/javascript">
			var chart;
			$(document).ready(function() {
				chart = new Highcharts.Chart({
					chart: {
						renderTo: 'container',
						backgroundColor: '#b7afa4',
						plotBorderWidth: 0,
						plotBorderColor: '#b7afa4',
						plotShadow: false
					},
					tooltip: {
						formatter: function() {
							return '<b>'+ this.point.name +'</b>: '+ this.y +' %';
						}
					},
					plotOptions: {
						pie: {
							allowPointSelect: true,
							cursor: 'pointer',
							dataLabels: {
								enabled: true,
								color: '#000000',
								connectorColor: '#000000',
								formatter: function() {
									return '<b>'+ this.point.name +'</b>: '+ this.y +' %';
								}
							}
						}
					},
				    series: [{
						type: 'pie',
						name: 'Podiel odpovedi',
						data: [
						    <% for answer in @survey.questions.first.answers %>
						      ['<%= answer.content %>', <%= answer.points %>],
						    <% end %>
						]
					}]
				});
			});
</script>

<div style="clear: both;">&nbsp;</div>
<div class="entry">
	<h2 class="title"><%= @survey.name %></h2>
	<p>
	  <% for question in @survey.questions %>
	  <p><%= h question.content %></p>
	  <ul>  
	    <% for answer in question.answers %>
	      <li><%= h answer.content %> (<%= answer.points %> hlasov)</li>
	    <% end %>  
	  </ul>
	  <% end %>
	</p>
	<%= link_to "Zobraziť všetky", surveys_path %>&nbsp;|&nbsp;
    <%= link_to "Upraviť", edit_survey_path(@survey) %>&nbsp;|&nbsp;
	<%= link_to "Vymazať", @survey, :confirm => 'Sta si istý že chcete vymazať dotazník?', :method => :delete %>
</div>

<div id="container" style="width:100%; height:300px;"></div>