<h1><%= @survey.name %></h1>

<p> 
  <% for question in @survey.questions %>  
  <p><%= h question.content %></p>
  <ul>  
    <% for answer in question.answers %>
      <li><%= answer.content %> (<%= answer.points %> hlasov)</li>
    <% end %>  
  </ul>  
  <% end %>  
</p>
  
<p>  
  <%= link_to "Upraviť", edit_survey_path(@survey) %> |  
  <%= link_to "Vymazať", @survey, :confirm => 'Sta si istý že chcete vymazať dotazník?', :method => :delete %> |  
  <%= link_to "Zobraziť všetky", surveys_path %>  
</p>